*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root{
    --text-hover: #B292FF;
    --text: #fff;
    --background-color: #0C0C0D;

}
.projects{

    margin-top: 300px;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    
}

.project-img:hover img {
    /* Your hover styles for the image */
    opacity: 0.8; /* For example: reduce opacity */
}

.bx-link-external {
    color: var(--text-hover);
}

.page-title{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    padding: 50px;
    margin-top: 50px;
}

.project-img img{
  
}





span{
    color: var(--text);
}

.github-text,
.link-text {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

}


.github-text:hover,
.link-text:hover {
    color: var(--text-hover);
    text-decoration-color: var(--text-hover);
}



.project-img img {
    background-color: #ececec;
    padding: 100px 20px 100px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    max-width: 100%;
    width: 800px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  #project-image {
    max-width: 100%;
    height: auto;
    
  }
.image-container{
    border-radius: 1000px;
}
 
  
    /* Styles for pop-up */
    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
  }

  .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      display: flex; /* Make the content area a flex container */
      max-width: 800px; /* Adjust the maximum width of the pop-up */
  }

  .popup-img-wrapper {
      flex: 1; /* Make the image wrapper take up 50% of the space */
      padding-right: 20px; /* Add some spacing between image and text */
  }

  .popup-img {
      max-width: 100%;
      max-height: 80vh;
      display: block;
      margin-bottom: 10px; /* Add some spacing between images */
  }

  .swiper-container {
      width: 100%;
      height: 100%;
  }

  /* Close button style */
  .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
  }
